<!DOCTYPE HTML>
<html>
<head>
	<meta charset="UTF-8">
		<!-- Bootstrap -->
	<link rel="stylesheet" href="./bootstrap.min.css">
		
		<!-- jQuery -->
	<script src="./jquery-2.1.1.min.js" type="text/javascript"></script>
	
<script type="text/javascript">
	function getchart(market, stick, startTime = '', endTime=''){
		var data;
		
		$.ajax({
		url: "http://localhost:7004/coindcx?market="+market+"&startTime="+startTime+"&endTime="+endTime+"&stick="+stick,
        context: document.body,
        success: function(candles){
            data = (candles.data).map(obj => {
				   let rObj = {}
				   rObj['y'] = [obj.open, obj.high, obj.low, obj.close];
	    		   rObj['x'] = new Date(obj.timestamp * 1000);
				   return rObj;
				});
            let chart = new CanvasJS.Chart("chartContainer",
				{
					title:{
						text: "Basic Candle Stick Chart"
					},
					zoomEnabled: true,
					axisY: {
						includeZero:false,
						title: "Prices",
					//	prefix: "$ "
					},
					axisX: {
						title: "Minutes",
					//	labelFormatter: function (e) {
					//		return CanvasJS.formatDate( e.value, "DD mm");
					//	},
						interval:1,
					//	intervalType: "minute",
						valueFormatString: "MM-DD hh:mm",
						labelAngle: -45
					},
					data: [
					{
						type: "candlestick",
						risingColor: "green",
						color: "red",
						dataPoints:  data
						
					}
					]
				});
			chart.render();
        }});
	}

	
	$(function () {
		$.ajax({
	        url: 'http://localhost:7004/coindcx/getMarketDetails',
	        success: function(response) {
				const array = response.data;
				if (array != '')
				{

					for (i in array) { 
					    $("#market").append("<option value='"+array[i].symbol+"''>"+array[i].symbol+"</option>");
					}
					getchart(array[0].symbol,1);

				}

	        },
	        error: function(x, e) {

	        }

	    });



		$(".submit_button").on('click',function() {
			const market = $('#market').val();
			const stick = $('#stick').val();
			const startTime = $('#startTime').val();
			const endTime = $('#endTime').val();
			getchart(market, stick, startTime, endTime);
			return false;
		});
		
	});
</script>
<script type="text/javascript" src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
</head>
<body>
	<form>
		<select name = "market" id="market">
		</select>
		<select name="stick" id="stick">
			<option value=1>1m</option>
			<option value=15>15m</option>
			<option value=60>1h</option>
		</select>
		<label> Start Time: 
			<input name="startTime" id="startTime"/>
		</label>
		<label> End Time: 
			<input name="endTime" id="endTime"/>
		</label>
		<input type="submit" value="Submit" class="submit_button"/>
	</form>
<div id="chartContainer" style="height: 300px; width: 100%;">
</div>
</body>
</html>
